<!-- on declare le nom du template : historique-->
<template name="historique">
	<center><img src="logo.png" alt="logo" id="logo"/></center>
	<h1 id="titre1">Historiques des points de ventes</h1>
	<br> <br> <br>
	<table border="1" id="table" width=60% class="panel panel-default">
		<thead class="panel-heading">
			<tr>
				<!--Création du l'entête du tableau-->
				<th>Identifiant</th>
				<th>Libellé</th>
				<th>Region</th>
				<th>Montant</th>
				<th>Nombre de transactions</th>
				<th>Etat</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<!--on va boucler sur la variable HList qui contiendra tout les documents de la collection-->
			<!-- on utilise spacebars : langage de template pour Meteor similaire a Handlebars-->
			{{#each HList}}
				<tr id="tr{{id_oracle}}">
					<td classe='id_oracle'>{{id_oracle}}</td>
					<td classe='libelle'>{{libelle}}</td>
					<td classe='region'>{{region}}</td>
					<td classe='montant'>{{montant}}</td>
					<td classe='nbt'>{{nbt}}</td>
					<td classe='etat' id="etat" style="background-color : {{etat}}">&nbsp;&nbsp;&nbsp;</td>
					<td classe='date'>{{Date}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>